body {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNiJUH5IkOxOHVPM_vwUuvCiBN_T42u_ddvwaDlETbH31p4hZb");
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}
